{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<nav class="hamburger_menu">
    <div class="container">
        <input id="hamburger_menu_toggle" type="checkbox"/>
        <label class="hamburger_menu_btn" for="hamburger_menu_toggle">
            <span></span>
        </label>
        <ul class="hamburger_menu_items">
            <li><a class="hamburger_menu_item" href="#">AAAAA</a></li>
            <li><a class="hamburger_menu_item" href="#">BBBBB</a></li>
            <li><a class="hamburger_menu_item" href="#">CCCCC</a></li>
        </ul>
    </div>
</nav>
<nav class="navbar">
    <div class="container">
        <ul class="menu">
            <li>
                <a href="#">Лента</a>
            </li>
            <li>
                <a href="#">Чаты</a>
            </li>
            <li>
                <a href="#">Календарь</a>
            </li>
            <li>
                <a href="http://127.0.0.1:8000/auth/profile/21">Кабинет</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    {% block content %}{% endblock %}
</div>
<div class="bottom_indent"></div>
{% block script_block %}{% endblock %}
</body>
</html>