.base_styles {
    position: relative;
    width: 430px;
    height: 932px;
    background: #217995;
    margin: 0 0 0 400px;
}

.header {
    position: absolute;
    width: 430px;
    height: 76px;
    left: 0;
    top: 0;
    background: #072A2B;
}

.hamburger_menu {
    position: absolute;
    width: 39.77px;
    height: 25.19px;
    left: 347px;
    top: 25px;
}

.titany_logo {
    position: absolute;
    width: 118px;
    height: 104px;
    left: 7px;
    top: -9px;
    border-radius: 34px;
}

.titany_logo_img {
    width: 118px;
    height: 104px;
    border-radius: 34px;
}

.navbar {
    position: absolute;
    width: 430px;
    height: 74px;
    left: 0;
    top: 858px;
    background: #072A2B;
}

.menu {
    display: flex;
    justify-content: space-around;
}

.svg_img {
    height: 41px;
    width: 41px;
}

li {
    list-style-type: none;
}

ul {
    padding-inline-start: 0;
}

.svg_link {
    height: 41px;
    width: 41px;
}

.about_current_page {
    position: absolute;
    width: 400px;
    height: 63px;
    left: 13px;
    top: 92px;
}

.newsline_header {
    position: absolute;
    width: 427px;
    height: 58px;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 43px;
    text-align: center;
    color: #FFFFFF;
}

.scrollable-container {
    max-height: 710px;
    overflow-y: auto;
    padding-top: 150px;
}

.user_card {
    background: #EEEEEE;
    border: 3px solid #0A292C;
    border-radius: 24px;
    width: 350px;
    height: 71px;
    display: flex;
    margin-top: 20px;
}

.user_pic {
    width: 46px;
    height: 46px;
    border-radius: 50px;
}

.block_profiles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about_user {
    text-align: center;
    width: 70%;
}

.user_pic_div {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_user_name {
    height: 0;
}

.about_user_name {
    width: 236px;
    height: 20px;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #000000;
}

.about_user_name_heading {
    margin-block-start: 0.5em;
}

.about_user_scope_heading {
    margin-block-start: 0.67em;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 600;
    font-size: 13px;
    line-height: 17px;
    text-align: center;
    color: #000000;
}

.about_user_scope {
    width: 238px;
    height: 17px;
}

.separator {
    width: 80%;
}

.user_card_link {
    width: 100%;
    height: 100%;
    display: flex;
    text-decoration: none;
}

.profile_card_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile_card {
    width: 348px;
    margin-top: 158px;
    height: 686px;
    background: #EEEEEE;
    border: 3px solid #0A292C;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
}

.profile_card_pic_div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.profile_card_pic {
    width: 176px;
    height: 181px;
}

.profile_card_info_div {
    width: 264px;
    height: 404px;
    margin-left: 42px;
}

.profile_first_last_names {
    width: 264px;
    height: 21px;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    margin-block-start: 0;
    margin-block-end: 0;
}

.account_info_sm {
    margin-block-start: 0.7em;
    margin-block-end: 0.7em;
    font-style: italic;
}

.account_info_big {
    margin-block-start: 0.7em;
    margin-block-end: 0.7em;
    font-style: italic;
}

.profile_card_button_div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 41px;
}

.profile_card_button_wrapper {
    width: 275px;
    height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #D37724;
    border: 3px solid #0A292C;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
}

.update_profile_link {
    text-decoration: none;
    color: white;
}

.thank_profile_link {
    text-decoration: none;
    color: white;
}

.profiles_card_info {
    overflow-y: scroll;
    max-height: 404px;
}

.profiles_card_info::-webkit-scrollbar {
    width: 0.5em;
}

.profiles_card_info::-webkit-scrollbar-track {
    background-color: transparent;
}

.profiles_card_info::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.events_div {
    padding-top: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.event_card {
    width: 348px;
    height: 178px;
    background: #EEEEEE;
    border: 3px solid #0A292C;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    margin-top: 20px;
    display: flex;
}

.event_card_image {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.event_card_description {
    width: 100%;
}

.event_card_img {
    width: 110px;
    height: 110px;
    border: 3px solid #0A292C;
    border-radius: 24px;
}

.event_card_description_header_div {
    width: 146px;
    height: 35px;
    background: rgba(238, 238, 238, 0.933333);
}

.event_card_description_header {
    width: 200px;
    height: 35px;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.event_card_description {
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.wrapper {
    overflow-y: scroll;
    max-height: 675px;
}

.wrapper::-webkit-scrollbar {
    width: 0.5em;
}

.wrapper::-webkit-scrollbar-track {
    background-color: transparent;
}

.wrapper::-webkit-scrollbar-thumb {
    background-color: transparent;
}