{% extends 'base.html' %}
{% block title %}Newsline{% endblock %}
{% block content %}
{% for news in newsline %}
<div class="news">
    <div class="news_info">
        <p>{{ news.type }}</p>
        <p><a href="#">{{ news.name }}</a></p>
        <p>Город: {{ news.cities }}</p>
        <p class="news_description">Описание: {{ news.description }}</p>
        {% if news.type == 'Event' %}
            <img class="image" src="{{ news.photo.url }}" alt="{{ news.name }}-image">
            <p>Дата мероприятия: {{ news.events_at }}</p>
        {% elif news.type == 'News' %}
            <div class="images">
                {% for image in news.photo.all %}
                    <img src="{{ image.image.url }}" alt="{{ news.name }}-image">
                {% endfor %}
            </div>
            <p></p>
        {% endif %}
    </div>
</div>
{% endfor %}
{% endblock %}