{% extends 'base.html' %}
{% load static %}
{% block title %}User Login{% endblock %}
{% block content %}
    <form class="log_form" id="loginForm">
        <h1 class="login_h">АВТОРИЗАЦИЯ</h1>
        <div class="email_log">
            <input class=profile_card_button_login type="email" id="email" required placeholder="Введите почту">
        </div>
        <br>
        <input class=profile_card_button_login type="password" id="password" required placeholder="Введите пароль">
        <br>
        <div class="profile_card_button_wrapper log">
            <span class="profile_card_button">
             <input class=log_btn type="submit" value="Login">
            </span>
        </div>
    </form>
    <div id="message"></div>
{% endblock %}
{% block script_block %}
    <script src="{% static 'js/login.js' %}"></script>
{% endblock %}