{% extends 'base.html' %}
{% load static %}
{% block title %}Profile{% endblock %}
{% block content %}
    <div class="profile_wrapper">
        <div class="profile">
            <img class="profile_image" src="{{ user_obj.avatar.image.url }}" alt="">
            <p><b class="profile-fields">Фамилия:</b><br><i>Test {{ user_obj.last_name }}</i></p>
            <br>
            <p><b>Отрасли:</b><br><i> {{ user_obj.industries }} </i></p>
            <br>
            <p><b>Компании:</b><br><i> {{ user_obj.companies }} </i></p>
            <p><b class="profile-fields">Род деятельности:</b><br><i> {{ user_obj.occupation }} </i></p>
            <br>
            <p><b>Чем могу быть полезен</b>
            <p><b class="profile-fields">Экспертиза:</b><br><i> {{ user_obj.expertise }} </i></p>
            <p><b class="profile-fields">Ресурсы имеющиеся:</b><br><i> {{ user_obj.resources_available }} </i></p>
            <p><b class="profile-fields">Достижения:</b><br><i> {{ user_obj.achievements }} </i></p>
            <br>
            <p><b>Что я ищу</b>
            <p><b class="profile-fields">Цель на год:</b><br><i> {{ user_obj.goal_for_the_year }} </i></p>
            <p><b class="profile-fields">Ресурсы запрашиваемые:</b><br><i> {{ user_obj.resources_searching }} </i></p>
            <p><b class="profile-fields">Запрос:</b><br><i> {{ user_obj.request }} </i></p>
            <br>
            <p><b>О себе</b>
            <p><b class="profile-fields">Немного о себе:</b><br><i>{{ user_obj.about_me }} </i></p>
            <p><b class="profile-fields">Город:</b><br><i> {{ user_obj.cities }} </i></p>
            <p><b class="profile-fields">День рождения:</b><br><i> {{ user_obj.birth_date }} </i></p>
            <p><b class="profile-fields">Факты обо мне:</b><br><i> {{ user_obj.facts_about_me }} </i></p>
            <p><b class="profile-fields">Хобби:</b><br><i> {{ user_obj.hobby }} </i></p>
            <p><b class="profile-fields">Образование:</b><br><i> {{ user_obj.education }} </i></p>
            <p><b class="profile-fields">Семейное положение:</b><br><i> {{ user_obj.family_status }} </i></p>
            <p><b class="profile-fields">Дети:</b><br><i> {{ user_obj.children }} </i></p>
            <p><b class="profile-fields">Сайт:</b><br><i> {{ user_obj.site }} </i></p>
            <br>
            <p><b>Контакты</b>
            <p><b class="profile-fields">Email:</b><br><i> {{ user_obj.email }} </i></p>
            <p><b class="profile-fields">Мобильный номер:</b><br><i> {{ user_obj.phone }} </i></p>
            <p><b class="profile-fields">Ссылки на социальные сети:</b><br><i> {{ user_obj.social_links }} </i></p>
            <br>
            <p><b>Участник с:</b><i> {{ user_obj.created_at }} </i></p>
            <br>
            <p><b>Кол-во лайков:</b><br><i> {{ user_obj.likes_qty }} </i></p>
            <button class="like_btn" data-pk="{{ user_obj.pk }}">Like{{ user_obj.pk }}</button>
        </div>
    </div>
{% endblock %}
{% block script_block %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/like.js' %}"></script>
{% endblock %}