{% extends 'base.html' %}
{% load static %}
{% block title %}Newsline{% endblock %}
{% block content %}
<div class="container cont">
    <div class="row d-flex justify-content-center">
        <div class="col-7 card text-bg-light form-margins">
            <h2>Изменение мероприятия</h2>
   
                <input type="hidden" name="csrfmiddlewaretoken"
                       value="xlrwwWEPHuFakS391qbnZ9xBbiOXIdjOV8CANq3n54bPIwDUI4WRuiPa288O6BQb">

                <div class="mb-3"><label class="form-label" for="id_name">Название</label><input type="text" name="name"
                                                                                                 maxlength="200"
                                                                                                 class="form-control"
                                                                                                 required=""
                                                                                                 id="id_name"></div>
                <div class="mb-3"><label class="form-label" for="id_cities">Город</label><select name="cities"
                                                                                                 class="form-select"
                                                                                                 id="id_cities">



                </select></div>
                <div class="mb-3"><label class="form-label" for="id_type_events">Тип мероприятия</label><select
                        name="type_events" class="form-select" required="" id="id_type_events">
          



                </select></div>
                <div>
                    <label for="events_at">Дата мероприятия:</label>
                    <input type="datetime-local" id="events_at" name="events_at" required>
                </div>
                <div class="mb-3"><label class="form-label" for="id_sponsor">Спонсор</label><select name="sponsor"
                                                                                                    class="form-select"
                                                                                                    id="id_sponsor">
                    <option value="" selected="">---------</option>



                </select></div>
                <div class="mb-3"><label class="form-label" for="id_number_of_seats">Количество мест</label><input
                        type="number" name="number_of_seats" class="form-control" required="" id="id_number_of_seats">
                </div>
                <div>
                    <label for="start_register_at">Дата начала регистрации:</label>
                    <input type="datetime-local" id="start_register_at" name="start_register_at">
                </div>
                <div>
                    <label for="end_register_at">Дата конца регистрации:</label>
                    <input type="datetime-local" id="end_register_at" name="end_register_at">
                </div>
                <div class="mb-3"><label class="form-label" for="id_description">Описание</label><textarea
                        name="description" cols="40" rows="10" maxlength="3000" class="form-control" required=""
                        id="id_description"></textarea></div>
                <div class="mb-3"><label class="form-label" for="id_place">Места</label><input type="text" name="place"
                                                                                               maxlength="200"
                                                                                               class="form-control"
                                                                                               required=""
                                                                                               id="id_place"></div>
                <div class="mb-3"><label class="form-label" for="id_price">Цена</label><input type="number" name="price"
                                                                                              value="0" step="0.01"
                                                                                              class="form-control"
                                                                                              required="" id="id_price">
                </div>
                <div class="input-group mb-3">
                    <input type="file" class="form-control" id="id_photo" >
                    <label class="input-group-text" for="inputGroupFile02">Upload</label>
                  </div>
                  
                <button type="submit"  value="Добавить" id="create_id">Изменить</button>

        </div>
    </div>
</div>
<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="{% static 'js/events_update.js' %}"></script>
{% endblock %}